.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* Intro Page */
.intro{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("/lines.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* My Name */
.profileName {
  width: 100%;
	text-align: center;
  /*font-family: 'Kaushan Script', cursive;*/
  font-family: 'Rubik Vinyl', cursive;
  font-size: calc(12px + 1vw);
  color: #fff;
}

/* Profile Photo */
.profileImage{
  max-width: 50%;
  border-radius: 50%;
}

/* Social Links (Github, LinkedIn) */
.social{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* technology icons */
.techIcon{
  width: 100%;
  height: 100%;
  max-width: 75px;
  max-height: 75px;
  padding: 5px;
}


/* PROFILE */

/* About Me / */
.aboutMe{
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("/gradientBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Profile */
.profile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1.5rem;
  color: #000;
  
}

.profileElement{
  border-radius: 0 40px 0 40px;
  background-color: #fff;
  border: 3px solid #9d203c;
  box-shadow: 10px 10px 5px black;
  min-width: 150px;
  max-width: 700px;
  padding:10px;
  
}

.title {
  margin: 4rem 0;
  color: #fff;
  font-size: calc(24px + 1vw);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

/*Projects Grid*/
.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

/* Change height if is a small device */
@media screen and (max-width: 500px) {
  .aboutMe{
    height: 100%;
  }
}

/* Change height if is a small device */
@media screen and (max-height: 600px) {
  .intro, .aboutMe{
    height: 100%;
  }
  .intro{
    margin-top: 52px;
  }
}


/* ------------------------------Flipbox Settings ------------------------------*/
.flipBox {
  background-color: transparent;
  perspective: 1000px;
}

/* Element that will flip */
.flipBoxElement {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipBox:hover .flipBoxElement {
  transform: rotateY(360deg);
}

/* ------------------------------ FOOTER ------------------------------ */
.footer {
  display: flex;
  flex: 1;
  padding: 0.5rem;
  background-color: #141213;
  border-top: 0px solid #9d203c;
  justify-content: center;
  align-items: center;
}
