.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/*Footer Logo*/
.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.title {
  margin: 4rem 0;
  color: #fff;
  font-size: calc(18px + 1vw);
  text-align: center;
  font-family: 'Kaushan Script', cursive;
}

/*Projects Grid*/
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

/* Technologies and Knowledge / */
.technologies{
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("/gradientBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.technologiesGrid{
  border: 0px;
  
  
}


.techIcon{
  width: 75px;
  height: 75px;
  padding: 5px;
}

/* Intro Page */
.intro{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("/lines.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* My Name */
.profileName {
  width: 100%;
	text-align: center;
  /*font-family: 'Kaushan Script', cursive;*/
  font-family: 'Rubik Vinyl', cursive;
  font-size: calc(12px + 1vw);
  color: #fff;
}


/* Profile Photo */
.profileImage{
  max-width: 50%;
  border-radius: 50%;
}

/* Social Links (Github, LinkedIn) */
.social{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flipbox Settings */
.flipBox {
  background-color: transparent;
  perspective: 1000px;
}

/* Element that will flip */
.flipBoxElement {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipBox:hover .flipBoxElement {
  transform: rotateY(360deg);
}


